/* SYNTAX TEST "Packages/Tailwind CSS/Tailwind CSS.sublime-syntax" */

@custom-variant pointer-coarse (@media (pointer: coarse));
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind */
/*                             ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind */
/*                              ^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind meta.at-rule.media.css */
/*                                     ^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind meta.at-rule.media.css meta.group.css */
/*                                                      ^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind - meta.at-rule.media */
/*^^^^^^^^^^^^^ keyword.control.directive.css.tailwind */
/*              ^^^^^^^^^^^^^^ entity.other.variant-name.css.tailwind */

@custom-variant theme-midnight (&:where([data-theme="midnight"] *));
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind */
/*                             ^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind */
/*                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind meta.selector.css */
/*                                                                ^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind */
/*^^^^^^^^^^^^^ keyword.control.directive.css.tailwind */
/*              ^^^^^^^^^^^^^^ entity.other.variant-name.css.tailwind */

@custom-variant pointer-coarse {
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind */
/*^^^^^^^^^^^^^ keyword.control.directive.css.tailwind */
/*              ^^^^^^^^^^^^^^ entity.other.variant-name.css.tailwind */
/*                             ^ meta.block.css punctuation.section.block.begin.css */
  @media (pointer: coarse) {
/*^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.block.css meta.at-rule.media.css */
/*^^^^^^ keyword.control.directive.css */
/*^ punctuation.definition.keyword.css */
/*       ^^^^^^^^^^^^^^^^^ meta.group.css */
/*       ^ punctuation.section.group.begin.css */
/*        ^^^^^^^ support.type.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^ support.constant.property-value.css */
/*                       ^ punctuation.section.group.end.css */
/*                         ^ meta.block.css punctuation.section.block.begin.css */
    @slot;
/*^^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.block.css meta.at-rule.media.css meta.block.css */
/*  ^^^^^ meta.at-rule.slot.css.tailwind keyword.control.directive.css.tailwind */
/*  ^ punctuation.definition.keyword.css.tailwind */
/*       ^ punctuation.terminator.rule.css */
  }
/*^ meta.at-rule.custom-variant.css.tailwind meta.block.css meta.at-rule.media.css meta.block.css */
/*^ punctuation.section.block.end.css */
}
/* <- meta.at-rule.custom-variant.css.tailwind meta.block.css punctuation.section.block.end.css */

@plugin "daisyui";
/*^^^^^^^^^^^^^^^ meta.at-rule.plugin.css.tailwind */
/*^^^^^ keyword.control.directive.css.tailwind */
/*      ^^^^^^^^^ meta.string.css string.quoted.double.css */
/*      ^ punctuation.definition.string.begin.css */
/*              ^ punctuation.definition.string.end.css */
/*               ^ punctuation.terminator.rule.css */

@plugin "daisyui/theme" {
/*^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.plugin.css.tailwind */
/*^^^^^ keyword.control.directive.css.tailwind */
/*      ^^^^^^^^^^^^^^^ meta.string.css string.quoted.double.css */
/*      ^ punctuation.definition.string.begin.css */
/*                    ^ punctuation.definition.string.end.css */
/*                      ^ meta.block.css punctuation.section.block.begin.css */
  name: "light";
/*^^^^^^^^^^^^^^ meta.at-rule.plugin.css.tailwind meta.block.css */
/*^^^^ meta.property-name.css support.type.property-name.css */
/*    ^ punctuation.separator.key-value.css */
/*     ^^^^^^^^ meta.property-value.css */
/*      ^^^^^^^ meta.string.css string.quoted.double.css */
/*      ^ punctuation.definition.string.begin.css */
/*            ^ punctuation.definition.string.end.css */
/*             ^ punctuation.terminator.rule.css */
  --color-primary: red;
/*^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.plugin.css.tailwind meta.block.css */
/*^^^^^^^^^^^^^^^ meta.property-name.css entity.other.custom-property.css */
/*               ^ punctuation.separator.key-value.css */
/*                ^^^^ meta.property-value.css */
/*                 ^^^ support.constant.color.w3c.standard.css */
/*                    ^ punctuation.terminator.rule.css */
}
/* <- meta.at-rule.plugin.css.tailwind meta.block.css punctuation.section.block.end.css */

@reference "../../app.css"
/*^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.source.css.tailwind */
/*^^^^^^^^ keyword.control.directive.css.tailwind */
/*         ^^^^^^^^^^^^^^^ meta.string.css string.quoted.double.css */
/*            ^ punctuation.separator.path.css */
/*               ^ punctuation.separator.path.css */

@source "./app/views/**/*.rb";
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.source.css.tailwind */
/*^^^^^ keyword.control.directive.css.tailwind */
/*      ^^^^^^^^^^^^^^^^^^^^^ meta.string.css string.quoted.double.css */
/*      ^ punctuation.definition.string.begin.css */
/*                          ^ punctuation.definition.string.end.css */
/*                           ^ punctuation.terminator.rule.css */

@theme {
/*^^^^^^ meta.at-rule.theme.css.tailwind */
/*^^^^ keyword.control.directive.css.tailwind */
/*     ^ meta.block.css punctuation.section.block.begin.css */

  --*: initial;
/*^^^^^^^^^^^^^ meta.at-rule.theme.css.tailwind meta.block.css */
/*^^^ meta.property-name.css entity.other.custom-property.css */
/*  ^ constant.other.wildcard.asterisk.css.tailwind */
/*   ^ punctuation.separator.key-value.css */
/*    ^^^^^^^^ meta.property-value.css */
/*     ^^^^^^^ support.constant.property-value.css */
/*            ^ punctuation.terminator.rule.css */

  --font-*: initial;
/*^^^^^^^^^^^^^^^^^^ meta.at-rule.theme.css.tailwind meta.block.css */
/*^^^^^^^^ meta.property-name.css entity.other.custom-property.css */
/*       ^ constant.other.wildcard.asterisk.css.tailwind */
/*        ^ punctuation.separator.key-value.css */
/*         ^^^^^^^^ meta.property-value.css */
/*          ^^^^^^^ support.constant.property-value.css */
/*                 ^ punctuation.terminator.rule.css */

  --font-display: "Satoshi", "sans-serif";
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.theme.css.tailwind meta.block.css */
/*^^^^^^^^^^^^^^ meta.property-name.css entity.other.custom-property.css */
/*              ^ punctuation.separator.key-value.css */
/*               ^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-value.css */
/*                ^^^^^^^^^ meta.string.css string.quoted.double.css */
/*                         ^ punctuation.separator.sequence.css */
/*                           ^^^^^^^^^^^^ meta.string.css string.quoted.double.css */
/*                                       ^ punctuation.terminator.rule.css */
}
/* <- meta.at-rule.theme.css.tailwind meta.block.css punctuation.section.block.end.css */

@utility utility {
/*^^^^^^^^^^^^^^^^ meta.at-rule.utility.css.tailwind */
/*^^^^^^ keyword.control.directive.css.tailwind */
/*       ^^^^^^^ entity.other.utility-name.css.tailwind */
/*               ^ meta.block.css punctuation.section.block.begin.css */
    @apply mb-4 font-extrabold;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.utility.css.tailwind meta.block.css */
/*  ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.apply.css.tailwind */
/*  ^^^^^^ keyword.control.directive.apply.css.tailwind */
/*  ^ punctuation.definition.keyword.css.tailwind */
/*         ^^^^ entity.other.attribute-name.class.css */
/*              ^^^^^^^^^^^^^^ entity.other.attribute-name.class.css */
/*                            ^ punctuation.terminator.rule.css */

    font-family: Helvetica;
/*^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.utility.css.tailwind meta.block.css */
/*  ^^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*              ^^^^^^^^^^ meta.property-value.css */
/*               ^^^^^^^^^ meta.string.css string.unquoted.css */
/*                        ^ punctuation.terminator.rule.css */
}
/* <- meta.at-rule.utility.css.tailwind meta.block.css punctuation.section.block.end.css */

.my-element {
    background: white;
    @variant dark {
/*  ^^^^^^^^^^^^^^^ meta.at-rule.variant.css.tailwind */
/*  ^^^^^^^^ keyword.control.directive.css.tailwind */
/*  ^ punctuation.definition.keyword.css.tailwind */
/*           ^^^^ entity.other.variant-name.css.tailwind */
/*                ^ punctuation.section.block.begin.css */
        @variant hover {
/*^^^^^^ meta.property-list.css meta.block.css meta.at-rule.variant.css.tailwind meta.block.css */
/*      ^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css meta.at-rule.variant.css.tailwind meta.block.css meta.at-rule.variant.css.tailwind */
/*      ^^^^^^^^ keyword.control.directive.css.tailwind */
/*      ^ punctuation.definition.keyword.css.tailwind */
/*               ^^^^^ entity.other.variant-name.css.tailwind */
/*                     ^ punctuation.section.block.begin.css */
            background: black;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css meta.at-rule.variant.css.tailwind meta.block.css meta.at-rule.variant.css.tailwind meta.block.css */
/*          ^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                     ^^^^^^ meta.property-value.css */
/*                      ^^^^^ support.constant.color.w3c.standard.css */
/*                           ^ punctuation.terminator.rule.css */
        }
/*^^^^^^^ meta.property-list.css meta.block.css meta.at-rule.variant.css.tailwind meta.block.css meta.at-rule.variant.css.tailwind meta.block.css */
/*      ^ punctuation.section.block.end.css */
    }
/*^^^ meta.property-list.css meta.block.css meta.at-rule.variant.css.tailwind meta.block.css */
/*  ^ punctuation.section.block.end.css */
}
/* <- meta.property-list.css meta.block.css punctuation.section.block.end.css */

.theme-functions {

    font-family: --theme(
/*              ^^^^^^^^^^ meta.property-value.css */
/*               ^^^^^^^ meta.function-call.identifier.css support.function.theme.css.tailwind */
/*                      ^ meta.function-call.arguments.css meta.group.css punctuation.section.group.begin.css */
        --custom-var,
/*^^^^^^^^^^^^^^^^^^^ meta.property-value.css meta.function-call.arguments.css meta.group.css */
/*      ^^^^^^^^^^^^ variable.other.custom-property.css */
        ui-monospace,
/*^^^^^^^^^^^^^^^^^^^ meta.property-value.css meta.function-call.arguments.css meta.group.css */
/*      ^^^^^^^^^^^^ support.constant.property-value.css */
        Consolas,
/*^^^^^^^^^^^^^^^ meta.property-value.css meta.function-call.arguments.css meta.group.css */
/*      ^^^^^^^^ meta.string.css string.unquoted.css */
        'Courier New'
/*^^^^^^^^^^^^^^^^^^^ meta.property-value.css meta.function-call.arguments.css meta.group.css */
/*      ^^^^^^^^^^^^^ meta.string.css string.quoted.single.css */
/*      ^ punctuation.definition.string.begin.css */
/*                  ^ punctuation.definition.string.end.css */
    );
/*^^^ meta.property-value.css meta.function-call.arguments.css meta.group.css */
/*  ^ punctuation.section.group.end.css */
/*   ^ punctuation.terminator.rule.css */

    font-feature-settings: --theme(--default-settings, normal);
/*                         ^^^^^^^ meta.function-call.identifier.css support.function.theme.css.tailwind */
/*                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.function-call.arguments.css meta.group.css */
/*                                ^ punctuation.section.group.begin.css */
/*                                 ^^^^^^^^^^^^^^^^^^ variable.other.custom-property.css */
/*                                                   ^ punctuation.separator.sequence.css */
/*                                                     ^^^^^^ support.constant.property-value.css */
/*                                                           ^ punctuation.section.group.end.css */
/*                                                            ^ punctuation.terminator.rule.css */

    color: --theme(--theme-color, red);
/*         ^^^^^^^ meta.function-call.identifier.css support.function.theme.css.tailwind */
/*                ^^^^^^^^^^^^^^^^^^^^ meta.function-call.arguments.css meta.group.css */
/*                ^ punctuation.section.group.begin.css */
/*                 ^^^^^^^^^^^^^ variable.other.custom-property.css */
/*                              ^ punctuation.separator.sequence.css */
/*                                ^^^ support.constant.color.w3c.standard.css */
/*                                   ^ punctuation.section.group.end.css */
/*                                    ^ punctuation.terminator.rule.css */
}