/* SYNTAX TEST "Packages/Tailwind CSS/Tailwind CSS.sublime-syntax" */

/* Default CSS */

@import "./custom-base-styles.css";
/* <- meta.at-rule.import.css keyword.control.directive.css punctuation.definition.keyword.css */
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.import.css */
/*^^^^^ keyword.control.directive.css */
/*      ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.css string.quoted.double.css */

@import "tailwindcss" source("../src");
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.import.css */
/*^^^^^ keyword.control.directive.css */
/*      ^^^^^^^^^^^^^ meta.string.css string.quoted.double.css */
/*      ^ punctuation.definition.string.begin.css */
/*                  ^ punctuation.definition.string.end.css */
/*                    ^^^^^^ meta.function-call.identifier.css support.function.source.css.tailwind */
/*                          ^^^^^^^^^^ meta.function-call.arguments.css meta.group.css */
/*                          ^ punctuation.section.group.begin.css */
/*                           ^ meta.string.css string.quoted.double.css punctuation.definition.string.begin.css */
/*                            ^^^^^^ meta.path.url.css meta.string.css string.quoted.double.css */
/*                              ^ punctuation.separator.path.css */
/*                                  ^ meta.string.css string.quoted.double.css punctuation.definition.string.end.css */
/*                                   ^ punctuation.section.group.end.css */
/*                                    ^ punctuation.terminator.rule.css */

@media (min-width: 640px) {
/* <- meta.at-rule.media.css keyword.control.directive.css punctuation.definition.keyword.css */
/*^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.media.css */
/*^^^^ keyword.control.directive.css */
}

/* Tailwind CSS */

.content {
    @apply whatever;
/*  ^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css meta.at-rule.apply.css.tailwind */
/*                 ^ meta.property-list.css meta.block.css punctuation.terminator.rule.css */
/*  ^^^^^^ keyword.control.directive.apply.css.tailwind */
/*         ^^^^^^^^ entity.other.attribute-name.class.css */
    font-family: Helvetica;
/*  ^^^^^^^^^^^ meta.property-list.css meta.block.css meta.property-name.css support.type.property-name.css */
}

@config "./tailwind.config.js";
/* <- meta.at-rule.config.css.tailwind keyword.control.directive.css punctuation.definition.keyword.css */
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.config.css.tailwind */
/*^^^^^ keyword.control.directive.css */
/*      ^^^^^^^^^^^^^^^^^^^^^^ string.quoted.double.css */

/* Tailwind 4.0 */
@custom-variant pointer-coarse (@media (pointer: coarse));
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind */
/*                             ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind */
/*                              ^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind meta.at-rule.media.css */
/*                                     ^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind meta.at-rule.media.css meta.group.css */
/*                                                      ^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind - meta.at-rule.media */
/*^^^^^^^^^^^^^ keyword.control.directive.css.tailwind */
/*              ^^^^^^^^^^^^^^ entity.other.variant-name.css.tailwind */

@custom-variant theme-midnight (&:where([data-theme="midnight"] *));
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind */
/*                             ^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind */
/*                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind meta.selector.css */
/*                                                                ^ meta.at-rule.custom-variant.css.tailwind meta.group.css.tailwind */
/*^^^^^^^^^^^^^ keyword.control.directive.css.tailwind */
/*              ^^^^^^^^^^^^^^ entity.other.variant-name.css.tailwind */

@custom-variant pointer-coarse {
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind */
/*^^^^^^^^^^^^^ keyword.control.directive.css.tailwind */
/*              ^^^^^^^^^^^^^^ entity.other.variant-name.css.tailwind */
/*                             ^ meta.block.css punctuation.section.block.begin.css */
  @media (pointer: coarse) {
/*^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.block.css meta.at-rule.media.css */
/*^^^^^^ keyword.control.directive.css */
/*^ punctuation.definition.keyword.css */
/*       ^^^^^^^^^^^^^^^^^ meta.group.css */
/*       ^ punctuation.section.group.begin.css */
/*        ^^^^^^^ support.type.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^ support.constant.property-value.css */
/*                       ^ punctuation.section.group.end.css */
/*                         ^ meta.block.css punctuation.section.block.begin.css */
    @slot;
/*^^^^^^^^ meta.at-rule.custom-variant.css.tailwind meta.block.css meta.at-rule.media.css meta.block.css */
/*  ^^^^^ meta.at-rule.slot.css.tailwind keyword.control.directive.css.tailwind */
/*  ^ punctuation.definition.keyword.css.tailwind */
/*       ^ punctuation.terminator.rule.css */
  }
/*^ meta.at-rule.custom-variant.css.tailwind meta.block.css meta.at-rule.media.css meta.block.css */
/*^ punctuation.section.block.end.css */
}
/* <- meta.at-rule.custom-variant.css.tailwind meta.block.css punctuation.section.block.end.css */

/* Tailwind 3.x */
@layer base {
/* <- meta.at-rule.layer.css keyword.control.directive.css punctuation.definition.keyword.css */
/*^^^^^^^^^^ meta.at-rule.layer.css - meta.block */
/*          ^^ meta.at-rule.layer.css meta.block.css */
/*^^^^ keyword.control.directive.css */
/*     ^^^^ entity.other.layer.css */
/*          ^ punctuation.section.block.begin.css */
    .bg {
        @apply font-bold py-2 px-4 rounded !important;
/*      ^^^^^^ meta.at-rule.apply.css.tailwind keyword.control.directive.apply.css.tailwind */
    }
/*  ^ punctuation.section.block.end.css */
}

/* Tailswind 4.x */
@plugin "daisyui";
/*^^^^^^^^^^^^^^^ meta.at-rule.plugin.css.tailwind */
/*^^^^^ keyword.control.directive.css.tailwind */
/*      ^^^^^^^^^ meta.string.css string.quoted.double.css */
/*      ^ punctuation.definition.string.begin.css */
/*              ^ punctuation.definition.string.end.css */
/*               ^ punctuation.terminator.rule.css */

/* Tailswind 4.x */
@plugin "daisyui/theme" {
/*^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.plugin.css.tailwind */
/*^^^^^ keyword.control.directive.css.tailwind */
/*      ^^^^^^^^^^^^^^^ meta.string.css string.quoted.double.css */
/*      ^ punctuation.definition.string.begin.css */
/*                    ^ punctuation.definition.string.end.css */
/*                      ^ meta.block.css punctuation.section.block.begin.css */
  name: "light";
/*^^^^^^^^^^^^^^ meta.at-rule.plugin.css.tailwind meta.block.css */
/*^^^^ meta.property-name.css support.type.property-name.css */
/*    ^ punctuation.separator.key-value.css */
/*     ^^^^^^^^ meta.property-value.css */
/*      ^^^^^^^ meta.string.css string.quoted.double.css */
/*      ^ punctuation.definition.string.begin.css */
/*            ^ punctuation.definition.string.end.css */
/*             ^ punctuation.terminator.rule.css */
  --color-primary: red;
/*^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.plugin.css.tailwind meta.block.css */
/*^^^^^^^^^^^^^^^ meta.property-name.css entity.other.custom-property.css */
/*               ^ punctuation.separator.key-value.css */
/*                ^^^^ meta.property-value.css */
/*                 ^^^ support.constant.color.w3c.standard.css */
/*                    ^ punctuation.terminator.rule.css */
}
/* <- meta.at-rule.plugin.css.tailwind meta.block.css punctuation.section.block.end.css */

/* Tailswind 4.x */
@reference "../../app.css"
/*^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.source.css.tailwind */
/*^^^^^^^^ keyword.control.directive.css.tailwind */
/*         ^^^^^^^^^^^^^^^ meta.string.css string.quoted.double.css */
/*            ^ punctuation.separator.path.css */
/*               ^ punctuation.separator.path.css */

/* Tailswind 3.x */
@responsive {
/* <- meta.at-rule.responsive.css.tailwind keyword.control.directive.css.tailwind punctuation.definition.keyword.css.tailwind */
/*^^^^^^^^^^ meta.at-rule.responsive.css.tailwind - meta.block */
/*          ^^ meta.at-rule.responsive.css.tailwind meta.block.css */
/*^^^^^^^^^ keyword.control.directive.css.tailwind */
/*          ^ punctuation.section.block.begin.css */
    .bg {
/*  ^^^ meta.at-rule.responsive.css.tailwind meta.block.css meta.selector.css */
        @apply font-bold py-2 px-4 rounded !important;
/*      ^^^^^^ meta.at-rule.apply.css.tailwind keyword.control.directive.apply.css.tailwind */
    }
/*  ^ punctuation.section.block.end.css */
}
/* <- meta.at-rule.responsive.css.tailwind meta.block.css punctuation.section.block.end.css */

/* Tailswind 3.x */
@screen base {
/* <- meta.at-rule.screen.css.tailwind keyword.control.directive.css.tailwind punctuation.definition.keyword.css.tailwind */
/*^^^^^^^^^^^ meta.at-rule.screen.css.tailwind - meta.block */
/*           ^^ meta.at-rule.screen.css.tailwind meta.block.css */
/*^^^^^ keyword.control.directive.css.tailwind */
/*      ^^^^ entity.other.screen-name.css.tailwind */
/*           ^ punctuation.section.block.begin.css */
    .bg {
        @apply font-bold py-2 px-4 rounded !important;
/*      ^^^^^^ meta.at-rule.apply.css.tailwind keyword.control.directive.apply.css.tailwind */

        {
/*      ^ meta.at-rule.screen.css.tailwind meta.block.css meta.property-list.css meta.block.css meta.property-list.css meta.block.css punctuation.section.block.begin.css */
            @apply
/*          ^^^^^^ meta.at-rule.screen.css.tailwind meta.block.css meta.property-list.css meta.block.css meta.property-list.css meta.block.css meta.at-rule.apply.css.tailwind keyword.control.directive.apply.css.tailwind */
        }
/*      ^ meta.at-rule.screen.css.tailwind meta.block.css meta.property-list.css meta.block.css meta.property-list.css meta.block.css punctuation.section.block.end.css */

        & tr:hover {
/*      ^^^^^^^^^^^ meta.at-rule.screen.css.tailwind meta.block.css meta.property-list.css meta.block.css meta.selector.css */
/*                 ^^ meta.at-rule.screen.css.tailwind meta.block.css meta.property-list.css meta.block.css meta.property-list.css meta.block.css */

            @apply font-bold py-2 px-4 rounded !important;
/*          ^^^^^^ meta.at-rule.apply.css.tailwind keyword.control.directive.apply.css.tailwind */
        }
/*      ^ punctuation.section.block.end.css */
    }
/*  ^ punctuation.section.block.end.css */
}

/* Tailswind 4.x */
@source "./app/views/**/*.rb";
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.source.css.tailwind */
/*^^^^^ keyword.control.directive.css.tailwind */
/*      ^^^^^^^^^^^^^^^^^^^^^ meta.string.css string.quoted.double.css */
/*      ^ punctuation.definition.string.begin.css */
/*                          ^ punctuation.definition.string.end.css */
/*                           ^ punctuation.terminator.rule.css */

@tailwind base;
/* <- meta.at-rule.tailwind.css.tailwind keyword.control.directive.css.tailwind punctuation.definition.keyword.css.tailwind */
/*^^^^^^^^^^^^ meta.at-rule.tailwind.css.tailwind */
/*^^^^^^^ keyword.control.directive.css.tailwind */
/*        ^^^^ entity.other.import.css.tailwind */
/*            ^ punctuation.terminator.rule.css */
@tailwind compontent;
/* <- meta.at-rule.tailwind.css.tailwind keyword.control.directive.css.tailwind punctuation.definition.keyword.css.tailwind */
/*^^^^^^^^^^^^^^^^^^ meta.at-rule.tailwind.css.tailwind */
/*^^^^^^^ keyword.control.directive.css.tailwind */
/*        ^^^^^^^^^^ entity.other.import.css.tailwind */
/*                  ^ punctuation.terminator.rule.css */
@tailwind utilities;
/* <- meta.at-rule.tailwind.css.tailwind keyword.control.directive.css.tailwind punctuation.definition.keyword.css.tailwind */
/*^^^^^^^^^^^^^^^^^ meta.at-rule.tailwind.css.tailwind */
/*^^^^^^^ keyword.control.directive.css.tailwind */
/*        ^^^^^^^^^ entity.other.import.css.tailwind */
/*                 ^ punctuation.terminator.rule.css */

@theme {
/*^^^^^^ meta.at-rule.theme.css.tailwind */
/*^^^^ keyword.control.directive.css.tailwind */
/*     ^ meta.block.css punctuation.section.block.begin.css */

  --*: initial;
/*^^^^^^^^^^^^^ meta.at-rule.theme.css.tailwind meta.block.css */
/*^^^ meta.property-name.css entity.other.custom-property.css */
/*  ^ constant.other.wildcard.asterisk.css.tailwind */
/*   ^ punctuation.separator.key-value.css */
/*    ^^^^^^^^ meta.property-value.css */
/*     ^^^^^^^ support.constant.property-value.css */
/*            ^ punctuation.terminator.rule.css */

  --font-*: initial;
/*^^^^^^^^^^^^^^^^^^ meta.at-rule.theme.css.tailwind meta.block.css */
/*^^^^^^^^ meta.property-name.css entity.other.custom-property.css */
/*       ^ constant.other.wildcard.asterisk.css.tailwind */
/*        ^ punctuation.separator.key-value.css */
/*         ^^^^^^^^ meta.property-value.css */
/*          ^^^^^^^ support.constant.property-value.css */
/*                 ^ punctuation.terminator.rule.css */

  --font-display: "Satoshi", "sans-serif";
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.theme.css.tailwind meta.block.css */
/*^^^^^^^^^^^^^^ meta.property-name.css entity.other.custom-property.css */
/*              ^ punctuation.separator.key-value.css */
/*               ^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-value.css */
/*                ^^^^^^^^^ meta.string.css string.quoted.double.css */
/*                         ^ punctuation.separator.sequence.css */
/*                           ^^^^^^^^^^^^ meta.string.css string.quoted.double.css */
/*                                       ^ punctuation.terminator.rule.css */
}
/* <- meta.at-rule.theme.css.tailwind meta.block.css punctuation.section.block.end.css */

@utility utility {
/*^^^^^^^^^^^^^^^^ meta.at-rule.utility.css.tailwind */
/*^^^^^^ keyword.control.directive.css.tailwind */
/*       ^^^^^^^ entity.other.utility-name.css.tailwind */
/*               ^ meta.block.css punctuation.section.block.begin.css */
    @apply mb-4 font-extrabold;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.utility.css.tailwind meta.block.css */
/*  ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.apply.css.tailwind */
/*  ^^^^^^ keyword.control.directive.apply.css.tailwind */
/*  ^ punctuation.definition.keyword.css.tailwind */
/*         ^^^^ entity.other.attribute-name.class.css */
/*              ^^^^^^^^^^^^^^ entity.other.attribute-name.class.css */
/*                            ^ punctuation.terminator.rule.css */

    font-family: Helvetica;
/*^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.utility.css.tailwind meta.block.css */
/*  ^^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*              ^^^^^^^^^^ meta.property-value.css */
/*               ^^^^^^^^^ meta.string.css string.unquoted.css */
/*                        ^ punctuation.terminator.rule.css */
}
/* <- meta.at-rule.utility.css.tailwind meta.block.css punctuation.section.block.end.css */

/* Tailwind 3.x */
@variants variant {
/* <- meta.at-rule.variant.css.tailwind keyword.control.directive.css.tailwind punctuation.definition.keyword.css.tailwind */
/*^^^^^^^^^^^^^^^^ meta.at-rule.variant.css.tailwind - meta.block */
/*                ^^ meta.at-rule.variant.css.tailwind meta.block.css */
/*^^^^^^^ keyword.control.directive.css.tailwind */
/*        ^^^^^^^ entity.other.variant-name.css.tailwind */
/*                ^ punctuation.section.block.begin.css */
    .bg {
        @apply font-bold py-2 px-4 .rounded --custom !important;
/*      ^^^^^^ meta.at-rule.apply.css.tailwind keyword.control.directive.apply.css.tailwind */
/*             ^^^^^^^^^ entity.other.attribute-name.class.css */
/*                       ^^^^ entity.other.attribute-name.class.css */
/*                            ^^^^ entity.other.attribute-name.class.css */
/*                                 ^^^^^^^^ entity.other.attribute-name.class.css */
/*                                          ^^^^^^^^ variable.other.custom-property.css */
/*                                                   ^^^^^^^^^^ keyword.other.important.css */
    }
/*  ^ punctuation.section.block.end.css */
}

/* Tailwind 4.x */
.my-element {
    background: white;
    @variant dark {
/*  ^^^^^^^^^^^^^^^ meta.at-rule.variant.css.tailwind */
/*  ^^^^^^^^ keyword.control.directive.css.tailwind */
/*  ^ punctuation.definition.keyword.css.tailwind */
/*           ^^^^ entity.other.variant-name.css.tailwind */
/*                ^ punctuation.section.block.begin.css */
        @variant hover {
/*^^^^^^ meta.property-list.css meta.block.css meta.at-rule.variant.css.tailwind meta.block.css */
/*      ^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css meta.at-rule.variant.css.tailwind meta.block.css meta.at-rule.variant.css.tailwind */
/*      ^^^^^^^^ keyword.control.directive.css.tailwind */
/*      ^ punctuation.definition.keyword.css.tailwind */
/*               ^^^^^ entity.other.variant-name.css.tailwind */
/*                     ^ punctuation.section.block.begin.css */
            background: black;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css meta.at-rule.variant.css.tailwind meta.block.css meta.at-rule.variant.css.tailwind meta.block.css */
/*          ^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                     ^^^^^^ meta.property-value.css */
/*                      ^^^^^ support.constant.color.w3c.standard.css */
/*                           ^ punctuation.terminator.rule.css */
        }
/*^^^^^^^ meta.property-list.css meta.block.css meta.at-rule.variant.css.tailwind meta.block.css meta.at-rule.variant.css.tailwind meta.block.css */
/*      ^ punctuation.section.block.end.css */
    }
/*^^^ meta.property-list.css meta.block.css meta.at-rule.variant.css.tailwind meta.block.css */
/*  ^ punctuation.section.block.end.css */
}
/* <- meta.property-list.css meta.block.css punctuation.section.block.end.css */

.test-nested-media { @media (width >= 1024px) { span { font-size: 1.25rem; } } }
/*                 ^^ meta.property-list.css meta.block.css - meta.at-rule */
/*                   ^^^^^^^ meta.property-list.css meta.block.css meta.at-rule.media.css - meta.group - meta.block meta.block */
/*                          ^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css meta.at-rule.media.css meta.group.css */
/*                                           ^ meta.property-list.css meta.block.css meta.at-rule.media.css - meta.group - meta.block meta.block */
/*                                            ^^^^^^^ meta.property-list.css meta.block.css meta.at-rule.media.css meta.block.css - meta.block.css meta.block.css meta.block.css */
/*                                                   ^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css meta.at-rule.media.css meta.block.css meta.property-list.css meta.block.css */
/*                                                                          ^^ meta.property-list.css meta.block.css meta.at-rule.media.css meta.block.css - meta.block.css meta.block.css meta.block.css */
/*                                                                            ^^ meta.property-list.css meta.block.css - meta.at-rule */

.test-nested-selectors {
    .bar { ... }
/*  ^^^^^ meta.property-list.css meta.block.css meta.selector.css */
/*  ^^^^ entity.other.attribute-name.class.css */
/*  ^ punctuation.definition.entity.css */
    #baz { ...}
/*  ^^^^^ meta.property-list.css meta.block.css meta.selector.css */
/*  ^^^^ entity.other.attribute-name.id.css */
/*  ^ punctuation.definition.entity.css */
    :has(p) { ... }
/*  ^^^^^^^^ meta.property-list.css meta.block.css meta.selector.css */
/*  ^ punctuation.definition.pseudo-class.css */
/*   ^^^ entity.other.pseudo-class.css */
    ::backdrop { ... }
/*  ^^^^^^^^^^^ meta.property-list.css meta.block.css meta.selector.css */
/*  ^^ punctuation.definition.pseudo-element.css */
/*    ^^^^^^^^ entity.other.pseudo-element.css */
    [lang|="zh"] { ... }
/*  ^^^^^^^^^^^^ meta.property-list.css meta.block.css meta.selector.css meta.attribute-selector.css meta.brackets.css */
/*              ^ meta.property-list.css meta.block.css meta.selector.css - meta.brackets.css*/
    * { ... }
/*  ^^ meta.property-list.css meta.block.css meta.selector.css */
    + article { ... }
/*  ^^^^^^^^^^ meta.property-list.css meta.block.css meta.selector.css */
/*  ^ keyword.operator.combinator.css */
    > p { ... }
/*  ^^^^ meta.property-list.css meta.block.css meta.selector.css */
/*  ^ keyword.operator.combinator.css */
    ~ main { ... }
/*  ^^^^^^^ meta.property-list.css meta.block.css meta.selector.css */
/*  ^ keyword.operator.combinator.css */
    || main { ... }
/*  ^^^^^^^^ meta.property-list.css meta.block.css meta.selector.css */
/*  ^^ keyword.operator.combinator.css */
    & article { ... }
/*  ^^^^^^^^^^ meta.property-list.css meta.block.css meta.selector.css */
/*  ^ variable.language.parent.css */
/*    ^^^^^^^ entity.name.tag.html.css */
    article { ... }
/*  ^^^^^^^ meta.property-list.css meta.block.css meta.selector.css entity.name.tag.html.css */
/*         ^ meta.property-list.css meta.block.css meta.selector.css - entity */
}
